@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color blue #8aadf4;
@define-color lavender #b7bdf8;
@define-color text #cad3f5;
@define-color subtext1 #b8c0e0;
@define-color subtext0 #a5adcb;
@define-color overlay2 #939ab7;
@define-color overlay1 #8087a2;
@define-color overlay0 #6e738d;
@define-color surface2 #5b6078;
@define-color surface1 #494d64;
@define-color surface0 #363a4f;
@define-color base #24273a;
@define-color mantle #1e2030;
@define-color crust #181926;

/* @define-color background-color #24273a; */
/* @define-color border-color #c6d0f5; */
/* @define-color label #cad3f5; */
/* @define-color image #cad3f5; */
/* @define-color progress #cad3f5; */

@define-color background-color #222222;
@define-color border-color alpha(@lavender, 0.75);
@define-color label alpha(@lavender, 0.75);
@define-color image alpha(@lavender, 0.75);
@define-color progress alpha(@lavender, 0.75);

window {
  border-radius: 3px;
  opacity: 0.97;
  border: 2px solid @border-color;

  background-color: @background-color;
}

label {
  font-family: 'FiraCode Nerd Font';
  font-size: 11pt;
  color: @label;
}

image {
  color: @image;
  -gtk-icon-transform: scale(0.7);
}

window#osd #container {
  margin: 0px;
  padding: 2px;
}

window#osd progressbar {
  min-height: 5px;
  border-radius: 2px;
}

window#osd trough {
  min-height: inherit;
}

window#osd progress {
  min-height: inherit;
  background-color: @progress;
}
